{% extends 'learning_logs/base.html' %}
{% load bootstrap3 %}

{% block header %}
<h1>Add a new topic:</h1>
{% endblock header %}
{% block content %}
<form action ="{% url 'learning_logs:new_topic' %}" method='post'
  class="form">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
  <button name="submit">Add Topic</button>
  {% endbuttons %}
</form>

{% endblock content %}
